* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Libre Baskerville', serif;
}

html {
  scroll-behavior: smooth;
}

.sticky {
  position: fixed;
  top: -30px;
  width: 100%;
  overflow: hidden;
}

body #top-section {
  background-image: url("./images/body-background2.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-color: black;
  background-attachment: fixed;
  background-size: 450px auto;
  width: 100%;
  background-clip: border-box;
}

body #top-section h1 {
  color: white;
  min-height: 150px;
  padding: 15px;
  font-size: 25px;
  text-align: center;
}

body #top-section nav {
  padding: 40px 0px 10px 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(25%, black), to(black));
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, black 25%, black 100%);
  z-index: 5;
  min-height: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 3;
}

body #top-section nav a {
  position: relative;
  margin: 5px 5px 5px 5px;
  padding: 6px;
  text-decoration: none;
  color: white;
  font-weight: 900;
}

body #top-section nav a:visited {
  color: white;
}

body #top-section nav a:hover {
  background-color: rgba(253, 253, 253, 0.185);
}

body #top-section nav a:before, body #top-section nav a:after {
  position: absolute;
  opacity: 0.5;
  height: 100%;
  width: 2px;
  content: '';
  background: #FFF;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

body #top-section nav a:before {
  left: -2px;
  top: 0px;
}

body #top-section nav a:after {
  right: -2px;
  bottom: 0px;
}

body #top-section nav a:hover:before, body #top-section nav a:hover:after {
  opacity: 1;
  height: 2px;
  width: 103%;
}

body main {
  padding-top: 150px;
  width: 100%;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(50%, black), to(#026477));
  background: linear-gradient(180deg, black 0%, black 50%, #026477 100%);
  background-attachment: fixed;
}

body main #container-for-content {
  margin: 0px auto;
  width: 85%;
  max-width: 600px;
  text-align: left;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
}

body main #container-for-content .title-paragraph-bullets {
  margin-top: 40px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.13);
}

body main #container-for-content .title-paragraph-bullets h2 {
  text-align: center;
  font-size: 20px;
  color: #fdfdfd;
  padding: 10px;
}

body main #container-for-content .title-paragraph-bullets p {
  padding: 20px;
  font-size: 13px;
  color: #e0eff3;
}

body main #container-for-content .title-paragraph-bullets ul {
  margin-bottom: 15px;
  list-style-position: inside;
}

body main #container-for-content .title-paragraph-bullets ul li {
  font-size: 12px;
  padding: 15px 25px 3px 25px;
  color: #c3d2d3;
}

body main #container-for-content #photo {
  background-color: darkkhaki;
}

body main #container-for-content #photo #picture-placeholder {
  width: 300px;
  height: 300px;
  background-color: darkorange;
  border: black 2px solid;
}
/*# sourceMappingURL=styles.css.map */