* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rokkitt', serif;

}

body {
  header {
    padding: 5px;
    font-size: 25px;
    font-weight: 700;
    border-bottom: 2px black solid;
  }

  nav {
    min-height: 40px;
    background-color: beige;
    
  }

  #company-overview {
    color: red;
    padding: 5px;
  }
  #overview-paragraph {
    padding: 5px;
    color: blue;
  }

  #overview-list li {
    padding: 5px 5px 3px 5px;
    color: saddlebrown;
  }
}

