* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Libre Baskerville', serif;
}

body #top-section {
  background-image: url("./images/body-background2.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-color: black;
  background-attachment: fixed;
  background-size: 450px auto;
  top: 0px;
  width: 100%;
  min-height: 110px;
}

body #top-section h1 {
  color: white;
  padding: 15px;
  min-height: 120px;
  max-height: 120px;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0)), to(black));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), black);
}

body #top-section nav {
  padding: 5px 0px 5px 0px;
  background-color: black;
  min-height: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body #top-section nav a {
  position: relative;
  margin: 5px 5px 5px 5px;
  padding: 6px;
  text-decoration: none;
  color: white;
  font-weight: 900;
}

body #top-section nav a:visited {
  color: white;
}

body #top-section nav a:hover {
  background-color: rgba(253, 253, 253, 0.185);
}

body #top-section nav a:before, body #top-section nav a:after {
  position: absolute;
  opacity: 0.5;
  height: 100%;
  width: 3px;
  content: '';
  background: #FFF;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

body #top-section nav a:before {
  left: -2px;
  top: 0px;
}

body #top-section nav a:after {
  right: -2px;
  bottom: 0px;
}

body #top-section nav a:hover:before, body #top-section nav a:hover:after {
  opacity: 1;
  height: 2px;
  width: 102%;
}

body main #container-for-content {
  margin: 0 auto;
  max-width: 500px;
  text-align: left;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
}

body main #container-for-content #company-overview {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 25% 25% 25% 25%;
      grid-template-rows: 25% 25% 25% 25%;
  background-color: cornflowerblue;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
}

body main #container-for-content #company-overview h2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  color: #fdfdfd;
  padding: 15px;
}

body main #container-for-content #company-overview p {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  padding: 5px;
  color: #f8f8f8;
}

body main #container-for-content #company-overview ol {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
}

body main #container-for-content #company-overview ol li {
  padding: 5px 5px 3px 5px;
  color: #c5c1bf;
}

body main #container-for-content #portfolio {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  background-color: cornsilk;
}

body main #container-for-content #photo {
  background-color: darkkhaki;
}

body main #container-for-content #photo #picture-placeholder {
  width: 300px;
  height: 300px;
  background-color: darkorange;
}
/*# sourceMappingURL=styles.css.map */